In [ ]:
#1. Load the MallCustomer dataset in dataframe object df
#2. Display summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset for each column
#3. Display Measures of Dispersion ( Mean Absolute Deviation, Variance, Standard Deviation, Range, Quartiles, Skewness)
#4. if your categorical variable is age groupsa nd quantitative variable is income, then provide summary statistics (minimum and maximum) of income
#grouped by the age groups.

In [27]:
import pandas as pd
import numpy as np
from scipy.stats import skew

# Replace 'MallCustomer.csv' with the path to your dataset file.
df = pd.read_csv('Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [2]:
#print("Mean of all columns:"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [28]:
#df.mean()
numeric_columns = df.select_dtypes(include='number')
print("Mean of numeric columns:")
print(numeric_columns.mean())

Mean of numeric columns:
CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

In [29]:
#numeric_columns = df.select_dtypes(include='number')
print("Median of numeric columns:")
print(numeric_columns.median())

Median of numeric columns:
CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [30]:
#numeric_columns = df.select_dtypes(include='number')
print("Min of numeric columns:")
print(numeric_columns.min())

Min of numeric columns:
CustomerID                 1
Age                       18
Annual Income (k$)        15
Spending Score (1-100)     1
dtype: int64

In [6]:
numeric_columns = df.select_dtypes(include='number')
print("Max of numeric columns:")
print(numeric_columns.max())

Max of numeric columns:
CustomerID                200
Age                        70
Annual Income (k$)        137
Spending Score (1-100)     99
dtype: int64

In [7]:
numeric_columns = df.select_dtypes(include='number')
print("Standar Deviation of numeric columns:")
print(numeric_columns.std())

Standar Deviation of numeric columns:
CustomerID                57.879185
Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [13]:
# Calculate Mean Absolute Deviation manually for numeric columns
mad_values = numeric_df.apply(lambda col: (col - col.mean()).abs().mean())
print("Mean Absolute Deviation:")
print(mad_values)

Mean Absolute Deviation:
CustomerID                50.0000
Age                       11.6605
Annual Income (k$)        21.0088
Spending Score (1-100)    20.8260
dtype: float64

In [16]:
# Variance
numeric_columns = df.select_dtypes(include='number')
print("\nVariance:")
print(numeric_columns.var())

Variance:
CustomerID                3350.000000
Age                        195.133166
Annual Income (k$)         689.835578
Spending Score (1-100)     666.854271
dtype: float64

In [17]:
# Standard Deviation
# Standard Deviation
numeric_columns = df.select_dtypes(include='number')
print("\nStandard Deviation:")
print(numeric_columns.std())

Standard Deviation:
CustomerID                57.879185
Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [19]:
#Range
print("\nRange:\n",numeric_columns.max()-numeric_columns.min())

Range:
 CustomerID                199
Age                        52
Annual Income (k$)        122
Spending Score (1-100)     98
dtype: int64

In [20]:
 #Quartiles
 print("\nQuartiles:\n",numeric_columns.quantile([0.25,0.5, 0.75]))

Quartiles:
       CustomerID    Age  Annual Income (k$)  Spending Score (1-100)
0.25       50.75  28.75                41.5                   34.75
0.50      100.50  36.00                61.5                   50.00
0.75      150.25  49.00                78.0                   73.00

In [24]:
#Skewness
print("\nSkewness:\n",numeric_columns.apply(skew))

Skewness:
 CustomerID                0.000000
Age                       0.481919
Annual Income (k$)        0.319424
Spending Score (1-100)   -0.046865
dtype: float64

In [26]:
# Grouped summary statistics for Income by Age Groups
grouped_stats = df.groupby('Age')['Annual Income (k$)'].agg(['min', 'max'])
print("\nGrouped Summary Statistics (Income grouped by Age Group):")
print(grouped_stats)

Grouped Summary Statistics (Income grouped by Age Group):
     min  max
Age
18    33   65
19    15   81
20    16   73
21    15   62
22    17   57
23    16   70
24    20   60
25    24   77
26    54   62
27    40   88
28    76  101
29    28   98
30    19  137
31    17   81
32    48  137
33    42  113
34    58  103
35    18  120
36    37  103
37    20   97
38    54  113
39    69   78
40    29   87
41    99  103
42    34   86
43    48   78
44    73   78
45    28  126
46    25   98
47    43  120
48    39   77
49    33   65
50    40   85
51    44   67
52    23   88
53    33   46
54    28  101
55    57   57
56    79   79
57    54   75
58    20   88
59    43   93
60    30   50
63    48   65
64    19   19
65    38   63
66    63   63
67    19   62
68    48   63
69    44   44
70    46   49